@import 'font/montserrat.css';
@import 'font/gdqpixel.css';
@import 'font/futura-condensed-bold.css';
@import 'font/jumpman.css';
@import 'font/gamer.css';
@import 'font/oswald-m.css';
@import 'font/oswald-r.css';

body {
	font-family: montserrat, sans-serif;
	margin: 0;
	opacity: 0;
}

#container {
	position: absolute;
	overflow: hidden;
}
